doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='../assets/css/charity.css')
    header
    nav.navbar.navbar-inverse(role='navigation')
      h1.pull-left
        a(href='') CHARITY
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.pull-right
          li.pull-right
            a(href='') Register
  body
    block content