doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    header
    nav.navbar.navbar-inverse(role='navigation')
      h1.pull-left
        a(href='') Nickime Change to Microlending
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.pull-right
          li
            a(href='') Homepage
          li
            a(href='') Profile
          li
            a(href='') Register
          li
            a(href='') Login
  block content