extends layout

block content
  
  body
    .container
      .well.well-lg.col-md-4
          h4 User Profile
          img(src='http://placedog.com/270/300', alt='')
          .panel.panel-success.col-md-6
            p TOTAL LENT
          .panel.panel-info.col-md-5
            p LOANS
          p
            a.btn.btn-primary(href='#', role='button') Button
      .micro.col-md-6
        .col-md-11
          .lender.thumbnail
            a.pull-left(href='#')
              img.media-object(src='http://placedog.com/100/100', alt='')
            .caption
              .media-body.col-md-offset-1
                h4.media-heading Thank You 
                .panel.panel-success.col-md-6
                  p LENT
                
      .micro.col-md-6
        .col-md-11
          .lender.thumbnail
            a.pull-left(href='#')
              img.media-object(src='http://placedog.com/100/100', alt='')
            .caption
              .media-body.col-md-offset-1
                h4.media-heading Thank You
                .panel.panel-success.col-md-6
                  p LENT
      
        
          a.btn.btn-primary.col-md-6(href='#', role='button') Lend
      
          a.btn.btn-primary.col-md-6(href='#', role='button') Set parameters