html
  head
    title
    link(rel='stylesheet', type='text/css', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/charity.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='assets/js/bootstrap.min.js')
  header
    nav.navbar.navbar-inverse(role='navigation')
      h1.pull-left
        a(href='') CHARITY
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.pull-right
          li.pull-right
            a(href='') Register
  body
    .container
      .well.well-lg.col-md-4
        .row
          h4. User Profile
          img(src='http://placedog.com/270/300', alt='')
          .panel.panel-success.col-md-6
            p TOTAL LENT
          .panel.panel-info.col-md-5
            p LOANS
          p
            a.btn.btn-primary(href='#', role='button') Button
      .micro.col-md-5
        .col-md-11
          .thumbnail
            a.pull-left(href='#')
              img.media-object(src='http://placedog.com/100/100', alt='')
            .caption
              .media-body.col-md-offset-1
                h4.media-heading Media heading
                .panel.panel-success.col-md-6
                  p LENT
      .micro.col-md-5
        .col-md-11
          .thumbnail
            a.pull-left(href='#')
              img.media-object(src='http://placedog.com/100/100', alt='')
            .caption
              .media-body.col-md-offset-1
                h4.media-heading Media heading
                .panel.panel-success.col-md-6
                  p LENT
      .
        p
          a.btn.btn-primary.col-md-2(href='#', role='button') Lend
        p
          a.btn.btn-primary.col-md-2(href='#', role='button') Set parameters